body {
    display: flex;
    font-family: "Calibri";
}
ul li {
    margin-bottom: 10px;
}
a {
    color: #5d7fa7;
}
.main {
    max-width: 800px;
    margin: 25px auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    background-color: rgba(209,218,218,0.3);
    font-size: 18px;
}
.capture_name {
    border-bottom: black 2px solid;
}
h3 {
    border-bottom: grey 3px solid;
}
.personal-about-avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.avatar {
    margin-left: 50px;
    margin-top: 45px;
    border-radius: 10px;
}
.avatar img {
    width: 250px;
    border-radius: 10px;
}
.code-block {
    background-color: #e8ebeb;
    border-radius: 10px;
    padding-top: 15px;
    padding-right: 20px;
}
.code-block pre {
    margin-left: -65px;
}
