body {
    display: flex;
    font-family: "Calibri";
}
ul li {
    margin-bottom: 10px;
}
a {
    color: #5d7fa7;
}p {
    text-indent: 20px;
 }
.main {
    max-width: 800px;
    margin: 25px auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    background-color: rgba(209,218,218,0.3);
    font-size: 18px;
}
.capture_name {
    font-size: 40px;
    border-bottom: black 2px solid;
}
h2 {
    border-bottom: grey 3px solid;
}
.personal-about-avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.avatar {
    margin-left: 50px;
    margin-top: 45px;
}
.avatar img {
    width: 280px;
    border-radius: 10px;
}
.code-block {
    background-color: #e8ebeb;
    border-radius: 10px;
    padding-top: 15px;
    padding-right: 20px;
}
.code-block pre {
    margin-left: -65px;
}
.english-block {
    margin-bottom: 30px;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 20px;
}
.footer-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    margin-right: 40px;
}
.logo_github_img {
    width: 100px;
    margin-right: 20px;
}
.logo_rsschool_img {
    width: 80px;
    margin-right: 20px;
}
.logo_youtube_img {
     width: 43px;
 }